[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
gitlint = "*"
yapf = "*"

[packages]
ansible = "==2.10.*"
ansible-lint = "*"
docker-py = "*"
jmespath = "*"
molecule = "*"
python-vagrant = "*"
zabbix-api = "*"

[requires]
python_version = "2.7"
