[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
gitlint = "*"
yapf = "*"

[packages]
ansible = "==2.7.*"
ansible-lint = "*"
docker-py = "*"

[requires]
python_version = "2.7"
